[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

python-dotenv = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py", ref = "rewrite", extras = ["voice"]}
master = {git = "https://github.com/bgreenlee/pygtail"}
youtube-dl = "*"


[requires]

python_version = "3.6"
