[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

discord = "*"
python-dotenv = "*"
"72eb2aa" = {extras = ["voice"], file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip"}


[requires]

python_version = "3.6"
